@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .wrapper-lp {
        width: 100%;
    }

    .carousel-lp {
        width: 100%;
        margin: 0;
    }

    .carousel-lp .slick-list {
        padding: 0px 50px 0px 0px!important;
    }
}